body {
  color: blue;
}

.form-group {
  margin-right: 500px;
  margin-left: 100px;
}

.dropdown {
  margin-left: 96px;
  margin-bottom: 50px;
}

#show-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  =======body {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .logo {
    height: 100px;
    width: 100px;
    align: right;
  }
  #header {
    background-color: #D2B4DE;
  }
  .nav {
    position: absolute;
  }
  .title {
    color: #1F618D;
  }
  .nav-btn {
    left: 100%;
    >>>>>>>864285cc988eb8ad2415dd478f44b58c69dc6cf9
  }
  #imageUpload {
    display: none;
  }
  #profileImage {
    cursor: pointer;
  }
